.App {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  min-width: 1200px;
}
hr {
  border: 0 !important;
  height: 0 !important;
  box-shadow: 0 0 10px 1px #000000 !important;
}

.h1-app {
  text-align: center;
}

.ul-app {
  padding-left: 50px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.li-app {
  list-style-type: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
